body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    color: rgb(53, 53, 53);
}

.logo {
    font-size: 48px;
    text-decoration: underline;
}

.recipe.list {
    list-style-type: none;
}

.recipe-header {
    font-size: 40px;
}